<!-- <h1>Hello world</h1> -->
<body>
    <!-- category sources section  -->
    <h1>SOURCES</h1>
      <ul>
        {% for sources in category_sources %}
            <li><h2>Name:{{ sources.name}}</li></h2>
            <li>ID:{{ sources.id}}</li> 
            <li>Description:{{ sources.description}}</li>
            <li><a href="{{sources.url}}">Url</a></li>
            <li>category:{{ sources.category}}</li>
            <li>Language:{{ sources.language}}</li> 
            <li>Country:{{ sources.country}}</li>     
        {% endfor %}
        
    </ul>
<h1>Articles</h1>
</body> 