 {% macro displaysourcesList(sources_list) %}
<!-- <div class="row"> -->
   {% for sources in category_sources%}
  
              {{ source.description }}
              {{source.name}}
              {{ sources.category}}
              {{ sources.language}}
              {{ sources.country}}
              <a href="{{sources.url}}">Url</a> 
      
           <!-- <li class="text-center">
                 
                   <a href="{{url_for('main.articles', id=source.id)}}">
                   {{ sources.name|truncate(10)}}</a>
               </li> -->
       
       <!-- </div> -->
   {% endfor %}
<!-- </div> -->
{% endmacro %} 